/* src/ContactUs.module.css */
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  input, textarea {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
  }
  
  textarea {
    height: 150px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .formLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  