/* src/HomePage.module.css */
/* HomePage.module.css */
.darkBlueBackground {
    background-color: #183049;
    color: white;
    min-height: 90vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
  }
  
  .navyBlueBackground {
    background-color: navy;
    color: white;
    min-height: 50vh;
    padding: 20px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
  }
  
  .imageSection {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    /* padding-bottom: 70px; */
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }

  .heading {
    font-size: 38px;
  }

  .para {
    font-size: 20px;
  }